In [59]:
import os
import sys
import json
import glob
import folium
import pandas as pd
import geopandas as gpd
import networkx as nx
from datetime import datetime
import matplotlib.pyplot as plt
from os_paw.wfs_api import WFS_API
from folium.plugins import FloatImage

print('=> Imported libraries')

=> Imported libraries

In [2]:
# Set API key, copied from osdatahub.os.uk
key = 'xxx'

In [3]:
# Create WFS API instance 
wfs_api = WFS_API(api_key=key)

In [107]:
# Choose a Spatial Reference System
SRS = 'EPSG:27700'

# Choose an OS Web Feature Service product
TYPE_NAME = 'Topography_TopographicPoint'

# Create Bounding Box
BBOX = '392881,348525,432455,411261'

# Create WFS_API object and run query
data = wfs_api.get_all_features_within_bbox(type_name="Topography_TopographicPoint",
                                            bbox=BBOX,
                                            allow_premium=True,
                                            output_format='geojson',
                                            srs=SRS)

In [108]:
# Create GeoDataFrame
gdf = gpd.GeoDataFrame.from_features(data, crs=data['crs'])

In [109]:
# view GeoDataFrame
gdf.head(n = 5)

                        geometry  OBJECTID  ... PhysicalPresence  style_code
0  POINT (394724.650 404278.000)   1302972  ...             null           1
1  POINT (393953.003 404414.643)   1302973  ...             null           7
2  POINT (393182.547 403498.002)   1302974  ...             null          16
3  POINT (393319.948 404494.456)   1302975  ...             null          16
4  POINT (393182.893 403497.182)   1302976  ...             null          16

[5 rows x 24 columns]

In [110]:
# subset based on descriptive term

data_turbine = gdf[gdf.DescriptiveTerm == "Wind Turbine"]

In [111]:
data_turbine.head(n = 5)

                          geometry  OBJECTID  ... PhysicalPresence  style_code
229  POINT (418814.363 408114.185)   1304442  ...             null          16
369  POINT (419565.096 405226.331)   1304582  ...             null          16
377  POINT (419868.019 405196.513)   1304590  ...             null          16
378  POINT (419542.401 405526.850)   1304591  ...             null          16
422  POINT (415141.297 407944.302)   1304635  ...             null          16

[5 rows x 24 columns]

In [92]:
ax = data_turbine.plot(color='#ff1f5b', figsize=(15, 15))
# Turn plot axis on
ax.axis('on')

(414904.9609, 420104.3551, 405042.8834, 408422.73459999997)

In [113]:
data_turbine.to_file("test1.shp")

In [114]:
gdf.to_file("test2.shp")